

.contact {
    grid-template-columns: 1fr 1fr;
    display: grid;
    height: 85vh;
}


.left {
    grid-column: 1 / 2;
    align-self: center;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.form input {
    height: 2.5rem;
}
.form label {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.form label span {
    color: gray;
}
.form textarea {
    height: 14rem;
}
.form button {
    margin: 1rem;
}
.element {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.right {
    grid-column: 2 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
}