
.grid {
    list-style: none;
    margin: 2rem;
    padding: 2rem;
}
.postgrid {
    grid-column: 1/ 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.postgrid h2{
    font-size: 3rem;
}
.title {
    border-bottom: 2px solid white;
}

.title li:hover {
    cursor: pointer;
    text-decoration: underline;
}