
.post {
    font-size: 1.5rem;
    width: 50%;
    border-radius: 1rem;
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.post:hover {
  color: #E0FBFC;
  background-color: #293241;

}