.layout {
  display: grid;
  grid-template-columns: 30px 1fr ;
  grid-template-rows: 1fr;
  grid-template-areas: "left main .";
}

.left {
  background: var(--flavor2);
}

.main{
  grid-area: main;
  background: var(--primary);
}


.buttons {
  position: fixed;
  bottom: 50px;
  right: 200px;
  list-style: none;
}

.buttons li {
  transition: all .3s ease;
}

.buttons li:hover {
  cursor: pointer;
  color: var(--tertiary);
  transition: all .3s ease;
}

.buttons li a {
  transition: all .3s ease;
}

.buttons li a:hover{
  color: var(--tertiary);
  transition: all .3s ease;

}
