



.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .2rem;
    background-color: #E89873;
    height: 4em;
}

.navigation {
    display: flex;
    justify-content: center;
    user-select: none;
    width: 50%;
}
.navigation > * {
    padding: .9rem;
    border-radius: 2rem;
    text-align: center;
    font-size: .9rem;
    text-decoration: none;
    transition: all .2s;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(75, 45, 21);

}
.navigation span:hover {
    color: white;
    cursor: pointer;
}

.selected {
    color: #525270;
}