html[data-theme="nature"] {
  --color-primary: #eff9ef;
  --color-primary-lighter: #f5f7f5;
  --color-secondary: #53c58c;
  --color-accent: #423e37;
  --color-text: #234c38;
  --color-text-secondary: #7fae97;
  --color-background: #fbfbf0;
}
