

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(16, 5vw);
    padding: 2rem;
    grid-gap: 20px;
    text-align: center;
}

.gallery > * {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.one {
    grid-column: 1 / -1;
    grid-row: 1 / 6;
}
.two {
    grid-column: 2 / 6;
    grid-row: 6 / 14;
}

.three {
    grid-column: 5 / 8;
    grid-row: 6 / 13;
}
