

.art {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.singleart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singleart button {
    height: 3rem;
}