.blogpost {
  transition: all .2s ease;
}

.blogpost:hover {
  cursor: pointer;
}
.blogpost:hover .title {
  color: var(--tertiary);
  transition: all .3s ease;
}

.date {
  font-weight: 400;
  font-size: var(--fs-400);
}

.desc {
  font-size: var(--fs-400);
  
}


.title {
  font-size: var(--fs-600);
  margin-bottom: -0.15rem;
  font-weight: 300;
}

