
.container{
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.entrance {
    text-align: center;
    font-size: 2rem;
    grid-column: 1 / -1;
    margin-top: 2rem;
    color: #E89873;
}
.entrance a:hover {
    cursor: pointer;
}