@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: #f6f6f6;
  --secondary: #141622;
  --tertiary: #a73420;

  --flavor: #f7f7f7;
  --flavor2: #985151;
  --flavor3: #8b0024;

  --fs-xl: clamp(1.2rem, 2vw + 1rem, 5rem);
  --fs-600: clamp(1.2rem, 1vw + 1rem, 2.5rem);
  --fs-500: clamp(.8rem, .3vw + .9rem, 2rem);
  --fs-400: clamp(.8rem, .2vw + .7rem, 2rem);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Serif', serif;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
