@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


:root {
  --primary: #F6F6F6;
  --secondary: #141622;
  --tertiary: #A73420;

  --flavor: #F7F7F7;
  --flavor2: #985151;
  --flavor3: #8B0024;

}

html,
body {
  overflow: scroll;
  overflow-x: hidden;

  padding: 0;
  margin: 0;
  font-family: 'Lora', serif;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
